body {
	font-family: Microsoft YaHei;
	font-size: 1vw;
	margin-top: 3vw;
}

#showcase {
	box-shadow: 0 0 5px #000;
	border-radius: 0.2vw;
	background-color: #1F1D1D;
	padding-top: 1vw;
}

#chart1 {
	width: 600px;
	height: 400px;
	margin: 0 auto;
	padding-top: 1vw;
}

#details_title {
	margin-top: 2vw;
}

.margin-left {
	margin-left: 1vw;
}

.margin-right {
	margin-right: 1vw;
}

.bold {
	font-weight: bold;
}

.greenBlue {
	color: #50BBDB;
}