@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	font-family: open sans;
	font-size: 0.9vw;
	background-color: #fef8e6;
}

h3 {
	font-size: 1.3vw;
}

#showcase {
	width: 550px;
	height: 350px;
	box-shadow: 0 0 5px #000;
	border-radius: 0.2vw;
	margin: 0 auto;
}

#details_textStyle {
	margin-top: 1vw;
}

#division1 {
	font-family: Microsoft YaHei;
}

#navbarText {
	font-family: Microsoft YaHei;
	color: white;
	font-size: 2vw;
}

.margin-left {
	margin-left: 1vw;
}

.margin-right {
	margin-right: 1vw;
}

.bold {
	font-weight: bold;
}

.greenBlue {
	color: #50BBDB;
}

.entry {
	margin: 0.5vw 0 auto;
	font-size: 1vw;
}

.center {
	width: 100%;
	text-align: center;
}

.navbar {
	min-height: 3vw;
}

.goRight {
	float: right;
}